* {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url("../images/clearSkyDay.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

li:first-letter {
    text-transform: capitalize;
}

.city-temp .active {
    color: black;
    cursor: default;
}